html {
  height: 100%;
  width: 100%;
  background-color: #B1A2BA;
}
.jim-nightshade-regular {
  font-family: "Jim Nightshade", serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  text-align: center;
  font-size: 50px;
}
h2{
  text-align: center;
    font-family: "Jim Nightshade", serif;
    font-weight: 400;
    font-style: normal;
  font-size: 30px;
  }

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  

}
li {
  display: inline;
  margin-right: 15px;

  
}
img {
  float: right;
  
}
#logo {
  float: right;
  

}
a {
  color: black;
  text-decoration: none;
}
img {
  float: left;
}
#sakumabildes{
  padding-top:35px;
}
p{
  padding-top: 70px;
  font-weight: 200px;
  font-size: 20px;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#ce7572;
}